*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.background
{
    width:100%;
    height:100vh;
    background-image: url(image12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
li
{
    list-style: none;
    font-size:20px;
    display:inline;
    padding:20px;
}

a{
    text-decoration: none;
    color:white;
}
a:hover
{
    color: rgb(59, 18, 207);
}
.nav
{
    margin-left: 500px;
    width:100%;
    height:60px;
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav .links{
    margin-left: 350px;
    display: flex;
    gap:2 rem;
    color: white;

}
#bordersign
{
    border:2px;
    border-radius: 25px;
    padding:10px;
    font-size:15px;
    background-color: rgb(59, 18, 207);
    color:white;
    margin-left: 620px;
}
.main
{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh-60px);

}
p{
    width:500px;
    font-size: 20px;
    color:white;
}
h1{
    font-size:50px;
    width:500px;
    color: white;
    
}
h4{
    color: white;
    font-size: 20px;
}
.icons
{
    text-align: center;
}